/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

a {
  color: currentColor;
}

button {
  font-family: inherit;
  color: currentColor;
}

address {
  font-style: normal;
}

img {
  display: block;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

/* styles */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* styles header */

.div-header {
  display: flex;
  justify-content: space-between;
}

.header {
  color: var(--SLATE, #434455);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.nav-list {
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.nav-list-item {
}

.nav-item-link {
  padding: 24px 0;
  color: #2e2f42;
}

.nav-item-link:hover {
  color: #404bbf;
}

.nav-item-link:focus {
  color: #404bbf;
}

.address {
  font-family: Roboto;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list-item {
}

.address-item-link {
}

.address-item-link:hover {
  color: #404bbf;
}

.address-item-link:focus {
  color: #404bbf;
}

/* styles section1*/

.section-one {
  background-color: #2e2f42;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  box-sizing: border-box;
  padding: 188px 0;
}

.div-section-one {
}
.header-one {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 48px;
  min-width: 169px;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

/* styles section2 */

.section-two {
  padding: 120px 0;
}

.div-section-two {
}

.paragraph-list {
  display: flex;
  gap: 24px;
}

.paragraph-item {
  width: calc((100% - 72px) / 4);
}

.header-three {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* styles section3 */

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.div-section-three {
}

.header-twosection {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-photo {
  display: flex;
  gap: 24px;
}

.header-two {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-section-three {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.div-agent {
  padding: 32px 0;
}

.text-agent {
  text-align: center;
}

/* styles section4 */

.section-four {
  padding: 120px 0 120px 0;
}

.ul-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.header-portfolio-two {
  margin-bottom: 72px;
}

.li-portfolio {
  width: calc((100% - 48px) / 3);
}

.div-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.header-portfolio-three {
  margin-bottom: 8px;
}

/* styles footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.text-footer {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
